<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://www.springframework.org/schema/beans 
                                            http://www.springframework.org/schema/beans/spring-beans.xsd" >
                
                
               <bean id ="libraryListService" class="Service.Library.LibraryListService" />
               <bean id ="libraryWriteService" class="Service.Library.LibraryWriteService"/>
               <bean id ="libraryDetailService" class="Service.Library.LibraryDetailService"/>
               <!--  
               <bean id="libraryModifyService" class="Service.Library.LibraryModifyService"/>
               -->
               
               
               
               
               
                
                </beans>
                